 - var expert = {'name':'柏雨青', 'certificate':'医师执业证书编码：110440300023129毕业于中国医科大学优秀青年皮肤科医师代表中国皮肤美容新锐医师', 'honor':'曾在第四军医大学西京医院进行系统的理论知识学习和实操学习，能熟练根据不同的皮肤状况给予精确的判断及治疗；勤奋好学，善于创新，对待顾客积极热情、无私奉献。', 'srcimg':'images/expert-1.png'};
